# Replace PORT to the number of your postgres port for tests
DATABASE_URL=postgres://user_test:password_test@localhost:PORT/finances_faith_db_test

SALTS=salt_number

JWT_SECRET=json_web_token_secret
JWT_EXPIRES_IN=2m
