# Replace PORT to the number of your postgres port
DATABASE_URL=postgres://user:password@localhost:PORT/finances_faith_db

# DOCKER CONFIGURATION
DOCKER_POSTGRES_USER=user
DOCKER_POSTGRES_PASSWORD=password
DOCKER_POSTGRES_DB=finances_faith_db
DOCKER_POSTGRES_TIMEZONE=America/Sao_Paulo

DOCKER_POSTGRES_DB_TEST=finances_faith_db_test
DOCKER_POSTGRES_USER_TEST=user_test
DOCKER_POSTGRES_PASSWORD_TEST=password_test
